/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
target/

# rspec failure tracking
.rspec_status
ext/fast_code_owners/tests/fixtures/valid_project/tmp/
